@page
@model warehousemgr.Pages.Procurement.IndexModel
@{
    ViewData["Title"] = "采购入库";
}

<script src="~/js/procurement/index.js"></script>
<body style="padding:3px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn" id="open-procurement-add">申请采购</button>
            </div>
        </div>
        <div class="layui-card-body" id="order-body">
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col width="500">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th style='text-align:center'>订单号</th>
                        <th style='text-align:center'>状态</th>
                        <th style='text-align:center'>申请时间</th>
                        <th style='text-align:center'>操作</th>
                    </tr>
                </thead>
                <tbody id="order-list">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>