@page
@model warehousemgr.Pages.User.AddUserModel
@{
    ViewData["Title"] = "添加用户";
}
<script src="~/js/user/adduser.js"></script>
<body style="padding:3px;">
    <div class="layui-card">
        <div class="layui-card-header">
        </div>
        <div class="layui-card-body">
            <form class="layui-form" action="" id="user-add-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" autocomplete="off" class="layui-input" maxlength="30">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_name" autocomplete="off" class="layui-input" maxlength="30">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" autocomplete="off" class="layui-input" maxlength="30">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-block">
                        <select id="select-position">
                            <option selected>请选择职位</option>
                            <option value="1">BOSS</option>
                            <option value="2">副总</option>
                            <option value="3">QR</option>
                            <option value="4">仓库主管</option>
                            <option value="5">仓库员工</option>
                            <option value="6">采购主管</option>
                            <option value="7">采购员工</option>
                            <option value="8">技术主管</option>
                            <option value="9">技术员工</option>
                            <option value="10">研发主管</option>
                            <option value="11">研发员工</option>
                            <option value="12">制剂主管</option>
                            <option value="13">制剂员工</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div style="text-align: center;">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn" style="display:none;" id="btn-user-add">提交</button>
                </div>
            </div>
        </div>
    </div>
</body>